/*****************/
/* main elements */
/*****************/

@import url('https://fonts.googleapis.com/css2?family=Inter');
@import url('https://fonts.googleapis.com/css2?family=Raleway');

/***** fonts and cols******/
body {
  font-family: Inter, sans-serif;
  font-size: 14;
}

h1, h2, h3{
  font-family: Raleway, sans-serif;
  padding: .5em;
}

h1, h2 {
  background-color: #01325c;
  color: #fff;
}

/*************/
/* side menu */
/*************/
.topicsList {
  padding: .5em;
}

.topicsHeader {
  background-color: #01325c;
  color: #fff;
  padding: .5em;
}

.topicsList #doc-metadata {
  background-color: #365b79;
  color: #fff;
  padding: .5em;
}

.topicsList .topic.current {
  background-color: #365b79;
  color: #fff;
}

.topicsList .topic:hover, .topicsList .topic:active {
  background-color: #0167ad;
  color: #fff;
}

/***********/
/* buttons */
/***********/
.btn {
  background-color: #666;
  color: #fff;
}

.btn-light {
  background-color: #fff;
  color: #666;
}

.btn-primary {
  background-color: #000;
  color: #fff;
}

.btn:hover, .btn:active {
  background-color: #f32;
  color: #fff;
}
